* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(248 250 252);
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem 1rem;
  max-width: 300px;
  margin: 4rem auto;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.slack_name {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.img_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github {
  text-align: center;
}
.description {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.track {
  text-align: center;
  padding: 1rem;
}

.profile__pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* filter: grayscale(.5); */
  box-shadow: inset 0 0 0 9px rgb(225 225 225 / 30%);
  /* order: 1; */
  justify-self: center;
  width: 200px;
  height: 200px;
  animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
